<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>DVDFormServlet</servlet-name>
        <servlet-class>com.dvd.controller.AddDVDFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLibraryServlet</servlet-name>
        <servlet-class>com.dvd.controller.ListLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDVDServlet</servlet-name>
        <servlet-class>com.dvd.controller.AddDVDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>com.dvd.controller.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorPageServlet</servlet-name>
        <servlet-class>com.dvd.controller.ErrorPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DVDFormServlet</servlet-name>
        <url-pattern>/add_dvd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLibraryServlet</servlet-name>
        <url-pattern>/list_library.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDVDServlet</servlet-name>
        <url-pattern>/add_dvd.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/success.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageServlet</servlet-name>
        <url-pattern>/error.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
